footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorsecondary;
  color: black;
  width: 376px;
  height: 70px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  border-radius: 5px 5px 0 0;
}

.like {
  display: flex;
  margin-left: 20px;
  align-items: center;
  &__compter {
    font-size: 1.8rem;
    margin-right: 10px;
    &:focus {
      border: 2px solid white;
    }
  }
  &__icon {
    font-size: 1.5rem;
  }
}
.price {
  font-size: 1.8rem;
  margin-right: 20px;
  &:focus {
    border: 2px solid white;
  }
}

@media screen and (max-width: $breakpointpad) {
  footer {
    position: inherit;
    margin: 0 auto;
    height: 30px;
    width: 280px;
  }
  .like__compter {
    font-size: 1rem;
  }
  .like__icon {
    font-size: 1rem;
  }
  .price {
    font-size: 1rem;
  }
}
