footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorsecondary;
  color: black;
  width: 376px;
  height: 70px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  border-radius: 5px 5px 0 0;
}

.like {
  display: flex;
  margin-left: 20px;
  align-items: center;
  &__compter {
    font-size: 1.8rem;
    margin-right: 10px;
  }
  &__icon {
    font-size: 1.5rem;
  }
}
.price {
  font-size: 1.8rem;
  margin-right: 20px;
}
