.lightbox {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
  overflow: auto;
  &__content {
    margin: 40px auto;
    width: 100%;
    max-width: 1200px;
    &__close {
      position: fixed;
      top: 30px;
      right: 20px;
      font-size: 4rem;
      cursor: pointer;
      color: $colorprimary;
    }
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 80%;
      object-fit: contain;
    }
    &__direction__left {
      color: $colorprimary;
      cursor: pointer;
      position: fixed;
      top: 50%;
      font-size: 4rem;
      transform: translateY(-50%);
      left: 20px;
    }
    &__direction__right {
      color: $colorprimary;
      cursor: pointer;
      position: fixed;
      top: 50%;
      font-size: 4rem;
      transform: translateY(-50%);
      right: 20px;
    }
  }
}
