.bground {
  background-color: white;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.modal {
  margin: 40px auto;
  width: 100%;
  max-width: 700px;
  background-color: $colortertiary;
  overflow: hidden;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  &__message {
    display: none;
    background-color: $colorprimary;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 20px;
    float: right;
  }
  &__title {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  &__input,
  &__label {
    font-size: 2rem;
    line-height: 2rem;
  }
  &__input {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px;
    &:focus {
      border: 2px solid $colorprimary;
    }
  }
  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 60px;
    height: 80px;
    cursor: pointer;
    background-color: $colortertiary;
    &:focus {
      border: 2px solid $colorprimary;
    }
  }
}
.first,
.last,
.email,
.message {
  display: initial;
  color: red;
  font-size: 1rem;
  float: right;
}

.error-input {
  border: 3px solid red;
  animation: inputError 0.5s;
}

.close {
  font-size: 4rem;
  color: $colorprimary;
}

@keyframes inputError {
  0% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
