.btn {
  background-color: $colorprimary;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem;
}

.btn-submit {
  background-color: $colorprimary;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px 20px;
  &:focus {
    transform: scale(1.2);
  }
}
