.cardphoto {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  color: $colorprimary;
  &__info {
    position: relative;
  }
  &__title {
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
  }
  &__picture {
    object-fit: cover;
    width: 350px;
    height: 300px;
    border-radius: 5px;
  }
  &__numberlike {
    position: absolute;
    right: 35px;
    display: inline;
    line-height: 30px;
    font-size: 2rem;
    top: 6px;
  }
  &__icon {
    position: absolute;
    right: 0px;
    top: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    transform: scale(1);
    animation: 0.3s;
  }
}

.click {
  transform: scale(1.4);
}

@media screen and (max-width: $breakpointphone) {
  .cardphoto {
    width: 335px;
    height: 200px;
    color: $colorprimary;
    &__title {
      font-size: 1rem;
    }
    &__picture {
      width: 100%;
      height: 180px;
    }
    &__numberlike {
      font-size: 1rem;
      right: 15px;
      top: -6px;
    }
    &__icon {
      position: absolute;
      right: 0px;
      top: 3px;
      font-size: 0.8rem;
    }
  }
}
