body {
  margin: 0 auto;
  max-width: $breakpointmax;
}

.main {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-content: center;
}

.btn_scroll {
  display: flex;
  width: 100%;
  max-width: $breakpointmax;
  justify-content: center;
  position: fixed;
  top: -50px;
  a {
    background-color: $colortertiary;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 6px;
  }
}

@media screen and (max-width: $breakpointpad) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $breakpointphone) {
  main {
    grid-template-columns: 1fr;
  }
}
