.infoPhotographer {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
  padding: 50px 0;
  background-color: #fafafa;
  border-radius: 5px;
}

.photographer {
  &__infos {
    margin-left: 50px;
  }
  &__name {
    font-size: 5rem;
    color: $colorsecondary;
  }
  &__city {
    font-size: 2rem;
    color: $colorprimary;
  }
  &__slogan {
    font-size: 1.5rem;
    color: #525252;
    margin-top: 1rem;
  }
  &__tag {
    display: flex;
    &__filters {
      @include filter;
      margin-top: 1rem;
      &:focus {
        border-radius: 25px;
      }
    }
  }
  &__btn {
    margin-right: 100px;
  }
  &__pp {
    align-self: center;
  }
  &__pp img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 50px;
  }
}

.contact {
  white-space: nowrap;
}

.pictureGallery {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  row-gap: 30px;
}

.tagselect {
  background-color: $colorprimary;
  color: white;
}

@media screen and (max-width: $breakpointlargepad) {
  .pictureGallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .photographer {
    &__infos {
      margin-left: 30px;
    }
    &__name {
      font-size: 4rem;
    }
    &__pp img {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: $breakpointpad) {
  .pictureGallery {
    grid-template-columns: 1fr;
  }
  .infoPhotographer {
    background-color: white;
    margin: 10px 10px;
    padding: 0;
  }
  .photographer {
    &__btn .contact {
      position: fixed;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $colorprimary;
      border-radius: 5px;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
    &__name {
      font-size: 2rem;
    }
    &__city {
      font-size: 1rem;
    }
    &__slogan {
      font-size: 1rem;
    }
    &__pp img {
      width: 150px;
      height: 150px;
    }
  }
}
