// Colors

$colorprimary: #901c1c;
$colorsecondary: #d3573c;
$colortertiary: #db8876;

// Breackpoint

$breakpointphone: 500px;
$breakpointpad: 800px;
$breakpointlargepad: 1050px;
$breakpointmax: 1700px;
